
.button {
    border: 1px solid grey;/* Adjust thickness of border as needed */
    /*border: 4px solid transparent; */
    border-radius: 5px; /* Adjust rounded corners as needed */
    display: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;

}
.colorButton {
    color: white; /* default text color for all colorButtons */
}
.colorButton[style*="background-color: white;"] {
    color: black; /* text color specifically for the white colorButton */
}
.numberButton {
    background-color: #BBB;
}
.letterButton {
    width: 46px;
    margin: 4px;
}
#letterButtons, #colorButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#colorButtonsRow {
    display: flex;
    flex-direction: row;
}
.secondRow {
    margin-left: -25px;
}
.thirdRow {
    margin-left: -65px;
}        
.selected {
    /*border: 4px solid #000; Add a border to the selected button */
    /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}        
.button:hover, .button.selected {
    filter: brightness(90%); /* Darkens the button's appearance */
}        