
/* BODY ******************************************************************** */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 50px;  /* Add padding here */

}


/* TITLE ******************************************************************* */
#title {
    margin-top: 200px;
    display: none;
}


.setup_buttons {
    text-align: center;
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-bottom: 20px; /* Add some margin to the bottom of the button's container */
}


.dynamic-button {
    /* Add your button styles here */
    padding: 10px 20px;
    /*background-color: blue;*/
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* LOGIN ******************************************************************* */
#LOGIN_FORM {
    display: none; /* initial state */
}
#startButton {
    font-size: 1.5em;
}
#displayUsername {
    font-size: 1em;
    margin-top: 200px;
    text-align: center;
    color: #333;
}


/* INFO & CONSENT ********************************************************** */
#INFO_SHEET {
    display: none; /* initial state */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 1000px;
    margin-bottom: 100px;
}
#infoContinueButton {
    font-size: 1.5em;
}


.formContainer {
    display: none; /* initial state */
    margin-left: 200px;
    margin-right: 20px;
}
.submitButtonContainer {
    align-items: center;
}
.ctaContainer {
    margin: 20px 0;  /* Spacing between rows */
}
.QandAItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.questionContainer {
  width: 100%;
  margin-bottom: 10px; /* Space between question and choices */
}

.radioContainer {
  display: block;
  margin-bottom: 5px; /* Space between each radio button */
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Space between buttons and footer */
}

#noConsentGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.sticky-footer {
    margin-bottom: 20px; /* Margin below the footer */
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AAAAAA; /* Or any color of your choice */
    color: white;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
}
.flexButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* ENDING_SCREEN *********************************************************** */
#ENDING_SCREEN {
    display: none; /* initial state */
}
#endMessage {
    display: flex; /* Added this line to make it a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center; /* Center text horizontally */
    margin-top: 20px;
}


#myVideo {
    max-width: 100%;
}


#continueButton {
    margin-top: 20px;
    font-size: 1.5em;
}       